<div class="hero">

    <div class="wall">
        <p>TO DO</p>
        <mat-card class="column">
            <mat-card class="card-details" *ngFor="let ticket of allTickets">
                <table draggable="true" class="draggable">
                    <mat-icon (click)="deleteTicket(ticket.customIdName)" class="delete-ticket" aria-hidden="false" aria-label="Example home icon">delete_outline
                    </mat-icon>
                    <h3>{{ ticket.projectTitle }}</h3>
                    <span>{{ convertMillToDate(ticket.endDate) }}</span>
                </table>
        
            </mat-card>
        </mat-card>
    </div>
    <div class="wall">
        <p>IN PROGRESS</p>
        <mat-card class="column"></mat-card>
    </div>
    <div class="wall">
        <p>TESTING</p>
        <mat-card class="column"></mat-card>
    </div>
    <div class="wall">
        <p>DONE</p>
        <mat-card class="column"></mat-card>


    </div>


</div>