<div class="add-card">
    <div class="card-left">
        <div class="title">
            <form class="example-form">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Title of project</mat-label>
                    <textarea id="inputTitle" matInput placeholder="Ex. starting new project"></textarea>
                </mat-form-field>
            </form>

        </div>
        <div class="category">
            <mat-card style="width: 250px; margin: 30px;"><button mat-button [matMenuTriggerFor]="menu">
                    <p>CATEGORY</p>
                </button>
            </mat-card>

            <mat-menu #menu="matMenu">
                <button id="categoryInput" value="advertising" mat-menu-item>advertising</button>
                <button id="categoryInput" value="inhouse" mat-menu-item>inhouse</button>
                <button id="categoryInput" value="outsourcing" mat-menu-item>outsourcing</button>
            </mat-menu>
        </div>

        <form class="example-form">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea id="commentInput" matInput placeholder="Customers value quality"></textarea>
            </mat-form-field>
        </form>


    </div>
    <div class="card-right">

        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input id="startDateInput" matStartDate placeholder="Start date">
                <input id="endDateInput" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div class="category urgency">
            <mat-card style="width: 250px; margin: 30px;"><button mat-button [matMenuTriggerFor]="menue">
                    <p>URGENCY</p>
                </button>
            

            <mat-menu #menue="matMenu">
                <button id="urgencyInput" value="Low" mat-menu-item>Low</button>
                <button id="urgencyInput" value="Middle" mat-menu-item>Middle</button>
                <button id="urgencyInput" value="High" mat-menu-item>High</button>
            </mat-menu>
        </mat-card>
        </div>

        <div class="btn-add-task">
            <button (click)="addNewTicket" mat-raised-button color="primary">ADD TASK</button>
        </div>
    </div>


</div>