.add-card {
    width: 700px;
    height: 300px;
    position: absolute;
    left: 70px;
    top: 120px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    display: flex;
    
}


.card-left {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-left: 48px;
    margin-right: 48px;

}

.card-right {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;

    .date-range {
        margin-top: -13px;
    }

    .action {
        padding-top: 18px;

        .save {

            &:hover {
                transform: scale(1.1);
                transition: 125ms ease-in-out;
            }
        }
    }

    .cancel {
        margin-right: 40px;
        color: gray;
    }
}
   
p {
    color: rgb(70, 82, 177);
    font-weight: 500;
    font-size: 18px;
    margin-left: 35px;
    margin-top: 10px;
}

.title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.c-title {
    p {
        color: rgb(70, 82, 177);
    }
    
}

.mat-form-field {
    width: 280px;
}
    
.btn-add-task {
    padding-top: 20px
}

span {
    color: rgb(70, 82, 177);
}

mat-spinner {
    position: absolute;
    left: 300px;
    top: 97px;
}