<div class="add-card">
    <div class="card-left">
        <div class="title">
            <form class="example-form">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label><span>Title of project</span></mat-label>
                    <input [(ngModel)]="ticket.projectTitle" [ngModelOptions]="{standalone: true}" matInput
                        placeholder="">
                </mat-form-field>
            </form>
        </div>

        <div class="category">
            <form class="example-form">
                <mat-form-field appearance="fill">
                    <mat-label><span>Category</span></mat-label>
                    <mat-select [(ngModel)]="ticket.category" [ngModelOptions]="{standalone: true}">
                        <mat-option value="advertising">advertising</mat-option>
                        <mat-option value="inhouse">inhouse</mat-option>
                        <mat-option value="outsourcing">outsourcing</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><span>Comment</span></mat-label>
                <textarea [(ngModel)]="ticket.comment" [ngModelOptions]="{standalone: true}" matInput placeholder="Customers value quality"></textarea>
            </mat-form-field>
        </form>


    </div>
    <div class="card-right">

        <mat-form-field class="date-range" appearance="fill">
            <mat-label><span>Choose a end-date</span></mat-label>
            <input [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="urgency">
            <form class="example-form">
                <mat-form-field appearance="fill">
                    <mat-label><span>Urgency</span></mat-label>
                    <mat-select [(ngModel)]="ticket.urgency" [ngModelOptions]="{standalone: true}">
                        <mat-option value="low">low</mat-option>
                        <mat-option value="middle">middle</mat-option>
                        <mat-option value="high">high</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <div class="action">
            <button (click)="dialogRef.close()" class="cancel" mat-stroked-button>Cancel</button>
            <button (click)="addNewTicket()" class="save" mat-stroked-button color="primary">Save</button>

        </div>

    </div>

    <mat-spinner *ngIf="loading"></mat-spinner>

</div>