/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.edit-action {
    display: flex;
    justify-content: space-evenly;
}